@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Sedan+SC&display=swap');

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0 auto;
    font-family: "Roboto Slab", sans-serif;
    background-image: url("../images/hogwarts-house-logos-harry-potter.jpg");
    background-size: cover;
    background-color: #faefd0;
    color: #faefd0;
}

h1 {
    font-family: "Sedan SC", sans-serif;
    margin: 0 auto;
    padding: 20px;
    font-size: 40px;
    text-shadow: 2px 2px 1px #740001;
}

h1,
h2,
h3 {
    color: #D3A625;
}

#red-panel {
    background-image: radial-gradient(#740001, #500303);
    width: 900px;
    min-height: 850px;
    margin: 0 auto;
    border-radius: 10px;
}

.game-content {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.how-to-play {
    margin: 70px 20px 0 0;
    border: 2px solid #740001;
    border-radius: 10px;
    background-color: #ae0001;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.how-to-play h3 {
    color: #faefd0;
    margin: 10px 0;
    align-self: center;
}

.intro {
    margin: 0 auto 5px;
    padding: 0 10px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.controls>div {
    display: flex;
    align-items: center;
}

.controls img {
    width: 50px;
    height: fit-content;
}

.space-bar p {
    padding: 0 10px 0 5px;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats {
    font-family: "Sedan SC", sans-serif;
    display: flex;
    width: 600px;
    height: 60px;
    margin: 5px auto;
    justify-content: space-between;
    padding: 0 2px;
    font-weight: bold;
    font-size: 18px;
}

.sound {
    height: 25px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    background-image: url("../images/hogwarts.png");
    background-size: cover;
    background-position: center;
    background-color: #04052C;
}

.grid div {
    flex: 0 0 6.66%;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

button {
    margin: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #ae0001;
    color: #faefd0;
    border: 2px solid #740001;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Sedan SC", sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.play-buttons button:hover {
    box-shadow: #740001 0px 5px 10px;
}

.player {
    background-image: url("../images/harry-potter.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.invaders {
    background-image: url("../images/death-eater.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bombs {
    background-image: url("../images/green-spell.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.lasers {
    background-image: url("../images/red-spell.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.voldemort {
    background-image: url("../images/voldy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.voldemort-bombs {
    background-image: url("../images/blue-spell.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hide {
    display: none;
}

.game-over-image {
    height: 100px;
    animation: pulse 2s infinite;
}

#landing-page {
    margin: 0 auto;
    min-height: 800px;
}

.map {
    height: 800px;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
}

.landing-page-btn {
    margin: 0 auto 0;
    animation: pulse 2s infinite;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
    bottom: 200px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}